<div class="container">
<br/>
  <h4>Game log</h4> 
  <ul>
    <li *ngFor="let msg of messages">{{msg}}</li>
  </ul> 
    <div class="form-group">
      <textarea class="status-window" [(ngModel)]="message">
        
      </textarea>
    </div> 
    <br/> 
    <h4>User input</h4>
    <div class="form-group">
      <input  class="form-control" type="text" [(ngModel)]="inputInstruction"   />
      <button class="btn btn-primary" (click)="send()">Send</button> 
    </div>
    
    <!--<button class="btn btn-secondary">Retrieve Message</button>--> 

</div>
