.box {
  background: lightblue;
  border-radius: 4px;
  padding-bottom: 50%;
  margin-top: 20px;
  color: black;
  font-size: 14px;
  text-align: center;
  font-family: "Arial Black", sans-serif;
}
.roomMap{
  width: 500px;
  height: 320px;
  float: left;
}

.room{
  width: 100px;
  float: left; 
  margin-right: 60px;
}

.box:hover {
  background-color: yellow;
}

.box{
  height: 80px;
}

.itemList{
  width: 500px;
  margin-left: 600px;
  height: 320px;
}
